VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_URL=https://zglcupgcqfqarveiksjo.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpnbGN1cGdjcWZxYXJ2ZWlrc2pvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyMTI4MjIsImV4cCI6MjA5OTc4ODgyMn0.xNX_5NII9_mI434ArgDSbYFbvI0GZgmsgxoyjo-onbU
